/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/




ul {
  width: 800px;
  list-style-type: none;

  .paragraph_overview {
    $overview_image_width: 60px;

    &:hover {
      background:grey;
    }
    a {
      cursor:default;
      text-decoration:none;
      color: black;
    }

    .picture {
      font: 11px/1.4em Arial, sans-serif;
    }
    .right {
      margin: 0.5em 0pt 0.5em 0.8em;
    }
    .left {
      margin: 0.5em 0.8em 0.5em 0;
    }

    .overview_image {
      width:$overview_image_width;
      float:left;
    }
    .overview_body {
      margin-left: $overview_image_width;
    }
  }
}