= render_partial(:admin_row,
  {:left => text_input_body(symbol=:default_body, body=@paragraph.get_default_body, form=form),
   :right => text_input_body(symbol=:body, body=@paragraph.get_body, form=form)})