- left_symbol = is_default_locale ? "caption" : "disabled_caption"

= render_partial(:admin_row,
  {:left => image_tag(@image.photo.url(:small)),
   :right => ''})

- if is_default_locale
  = render_partial(:admin_row,
    {:left => check_box_destroy(form=form),
     :right => ''})

= render_partial(:admin_row,
  {:left => line_input_caption(symbol=left_symbol, caption=@image.get_default_caption, form=form, disabled=(not is_default_locale)),
   :right => line_input_caption(symbol=:caption, caption=@image.get_caption, form=form, disabled=false)})