- button = form.submit(t_insert(:link), {:name => "add_link[#{@paragraph.id}]"})

= render_partial(:admin_row,
  {:left => is_default_locale ? button : "",
   :right => is_default_locale ? "" : button})