- if is_default_locale
  - left = form.submit(t_insert(:link), {:name => "add_link_default"})
  - right = ""
- else
  - left = ""
  - right = form.submit(t_insert(:link), {:name => "add_link"})

= render_partial(:admin_row,
  {:left => left,
   :right => right})