- @paragraph.images.build

%table
  = render_partial(:admin_input_title, {:form => form})
  = render_partial(:admin_input_body, {:form => form})
  = render_partial(:admin_input_pics, {:form => form})
  /%tr
  /  %td= pics_form(paragraph.images, form)
  /  %td= pics_form(paragraph.images, form)